body {
    background: #6666ff
}

#pexels-nikolaos-dimou-1319459 {

}

p{
    text-align: center
}

p {
    text-align: center
};

#missao {
    font-size: 20px; center"

em strong {
   color: #FF0000;
}
